body {
	font-family: 'Work Sans';
	background-color: black;
}

.header {
    background-color: blanchedalmond;
    color: black;
    padding: 20px;
}

.header h1 {
    font-weight: 500;
}

.right-side {
    max-width: 90%;
    background: blanchedalmond;
    box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.btn-animate {
	background-color: black;
	color: blanchedalmond;
}

.btn-animate:hover {
	color: blanchedalmond;
	background-color: rgb(0, 0, 0, 0.75);
}

.footer {
    background-color: blanchedalmond;
    color: black;
    padding: 20px;
}